# Ignore everything in this directory except these so that empty folders are not omitted
*
!.gitignore

!json_bulk_validation_logs
!bulk_validation_uploads
!oauth_contacts
!reports
!report_tokens
!mock
!Makefile